body {
    background-color: black;
}

#pageTitle {
    text-align: center;
    font-size: 62px;
}
#title img {
    max-width: 100%;
    height: auto;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
}
#nba {
    color: white;
    font-family: sans-serif;
}
#twoK {
    color: red;
    font-family: sans-serif;
    font-weight: 900;
}
#pred {
    font-style: italic;
    font-family: sans-serif;
    color: blue;
}
.features {
    color: white;
    font-size: 1.4vw;
    font-family: sans-serif;
    padding-left: 50px;
    padding-top: 20px;
    text-shadow: 2px 2px #999999;
    position: sticky;
}
.intro {
  left: 225px;
  top: 195px;
  position: absolute;
}
.intro #introChild {
    border-style: solid;
    border-width: 4px;
    border-image: linear-gradient(to bottom, purple, #33ffff);
    border-image-slice: 1;
    width: 80vw;
    height: 43.5vw;
    position: sticky;
}
.intro #introChild p {
    padding-left: 20px;
    color: white;
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.5;
}
.intro #introChild #pred {
    color: #00FFFF;
}
.intro #introChild img {
    width: 51vw;
    height: auto;
    opacity: 0.73;
    padding-left: 33%;
}
.intro #introChild #graphCap {
    font-size: 1.5vw;
    font-weight: normal;
    width: 20vw;
    bottom: 3vw;
    left: 2vw;
    position: absolute;
    color: #FAEBD7;
}
.prediction #week9 {
    border-style: solid;
    border-color: gray;
    border-width: medium;
    border-radius: 1vw;
    width: 80vw;;
    height: 7vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 4px;
    top: 10vw;
}
.prediction #week9 p {
    text-align: center;
    padding-top: 1vw;
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    color: #FAEBD7;
}
.prediction img {
    max-width: 101.21%;
    height: auto;
    opacity: 0.3;
    position: relative;
    z-index: -1;
}
.column {
    float: left;
    width: 20%;
}
form {
    position: absolute;
    left: 5vw;
    top: 82vw;
    height: 1vw;
    max-width: 58vw;
}
.attribute {
    font-size: 2vw;
    font-family: monospace;
    font-weight: normal;
    color: white;
}
input[type=number] {
    opacity: 0.6;
    width: 10vw;
    font-size: 1.5vw;
    font-weight: bold;
}
#button {
    position: relative;
    left: 25vw;
    opacity: 0.6;
    width: 10vw;
}
#test {
    color: white;
}
