body {
    background-color: black;
}

#pageTitle {
    text-align: center;
    font-size: 62px;
}
#title img {
    max-width: 100%;
    height: auto;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
}
#nba {
    color: white;
    font-family: sans-serif;
}
#twoK {
    color: red;
    font-family: sans-serif;
    font-weight: 900;
}
#pred {
    font-style: italic;
    font-family: sans-serif;
    color: blue;
}
.features {
    color: white;
    font-size: 1.4vw;
    font-family: sans-serif;
    padding-left: 50px;
    padding-top: 20px;
    text-shadow: 2px 2px #999999;
    position: sticky;
}
.intro {
  left: 225px;
  top: 200px;
  position: absolute;
}
.intro #introChild {
    border-style: solid;
    border-width: 1.5px;
    border-color: white;
    width: 80vw;
    height: 43.5vw;
    position: sticky;
}
.intro #introChild p {
    padding-left: 20px;
    color: white;
    font-size: 2vw;
    font-family: sans-serif;
}
.intro #introChild #pred {
    color: #00FFFF;
}
